@font-face {
    font-family: 'American Typewriter';
    src: url('AmericanTypewriter.eot');
    src: url('AmericanTypewriter.eot?#iefix') format('embedded-opentype'),
        url('AmericanTypewriter.woff') format('woff'),
        url('AmericanTypewriter.svg#AmericanTypewriter') format('svg');
    font-weight: normal;
    font-style: normal;
}

